
# コメントは `#'

# .svn フォルダ
# ディレクトリは最後にスラッシュ
.svn/

# vim のバックアップファイル
# * は展開される
*.swp

# /tmp のように '/' から始めれば
# カレントディレクトリの tmp のみ無視
# /hoge/tmp などは無視されない
/tmp
.ipynb_checkpoints/
.DS_Store
/.bundle/
.yardoc/
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*~
\#*

Dockerfile

# $ git rm -r --cached .
# $ git add .
# $ git commit -m ".gitignore is now working"
# $ git push origin master

